/*
 * Base
 */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #2D4953;
  color: #FFF;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.7;
}
a {
  color: #fff;
}
/*
 * Layout
 */
.l-constrained {
  max-width: 35em;
  margin: 0 auto;
  padding: 0 1em;
}
/*
 * Home
 */
.home {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.home__desc {
  margin: 1.5em 0;
}
.home__desc h2,
.home__desc p {
  font-weight: 300;
  margin: 0;
}
.home__desc p {
  font-size: 1.5rem;
}
.home__desc hr {
  margin: 1em auto;
  width: 75%;
  height: 0;
  border: none;
  border-top: 1px dashed rgba(255,255,255, 0.3);
}
.home__logo--full {
  width: 300px;
  height: 83px;
  max-width: 100%;
  fill: #D26324;
}
.home__logo {
  width: 60px;
  height: 60px;
  fill: #3B525C;
}
/*
 * Responsive Design
 */
@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
}
